@model TestNotebook.Models.Field

@{
    ViewData["Title"] = "CreateQuestion";
}
<div class="container">
    <h1>Field</h1>
    <h4>Edit</h4>
    <form method="post">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ScreenId)
        <div class="form-group">
            <label for="InputName">Name</label>
            <input type="text" name="name" class="form-control" id="InputDescription"
                aria-describedby="titleHelp" placeholder="Enter title"
                value="@Html.DisplayFor(model => model.Name)">
            <small id="titleHelp" class="form-text text-muted">Modify the name.</small>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Proceed</button>
            @Html.ActionLink("Back to List","Details", "Screen",new {@id=Model.ScreenId}, new {@class="btn btn-primary"})
        </div>
    </form>
</div>