@model TestNotebook.Models.Question

@{
    ViewData["Title"] = "CreateQuestion";
}
<div class="container">
    <h1>Question</h1>
    <h4>Edit</h4>
    <form method="post">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ControlId)
        <div class="form-group">
            <label for="InputName">Description</label>
            <input type="text" name="description" class="form-control" id="InputDescription"
                aria-describedby="titleHelp" placeholder="Enter title"
                value="@Html.DisplayFor(model => model.Description)">
            <small id="titleHelp" class="form-text text-muted">Modify the question.</small>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Proceed</button>
            @Html.ActionLink("Back to List", "Details","Control",new {@id=Model.ControlId}, new {@class="btn btn-primary"})
        </div>
    </form>
</div>