@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h1>Haeder</h1>
    <h4>Create</h4>
    <form method="post">
        <div class="form-group">
            <label for="InputTitle">Title</label>
            <input type="text" name="title" class="form-control" id="InputTitle" aria-describedby="titleHelp"
                placeholder="Enter title">
            <small id="titleHelp" class="form-text text-muted">Provide a title for your test session.</small>
        </div>
        <button type="submit" class="btn btn-primary">Proceed</button>
    </form>
</div>