@model TestNotebook.Models.Control

@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <h1>Control</h1>
    <h4>Edit</h4>
    <form method="post">
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <label for="InputName">@Html.DisplayNameFor(model => model.Name)</label>
            <input type="text" name="name" class="form-control" id="InputName" aria-describedby="titleHelp"
                placeholder="Enter title" value="@Html.DisplayFor(model => model.Name)">
            <small id="titleHelp" class="form-text text-muted">Edit your control.</small>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Proceed</button>
            @Html.ActionLink("Back to List", "Index",new {}, new {@class="btn btn-primary"})
        </div>

    </form>
</div>
